*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Francois One", sans-serif; */
    /* font-family: "Yeseva One", serif; */
    /* font-family: "Merriweather Sans", sans-serif; */
    /* font-family: "Poppins", sans-serif; */
}

.home{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    /* gap: 20px; */

}

.navbar{
    height: 80px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

p.title{
    font-family: "Yeseva One", serif;
    width: max-content;
    color: var(--title-color);
    font-size: 1.8rem;
    margin-left: 10px;
}
.heading{
    font-family: "Yeseva One", serif;
    font-size: 3rem;
    color: #333;
    /* margin-bottom: 20px;
    margin */
    padding: 20px;
}

.sub-heading{
    font-family: "Yeseva One", serif;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    width: 800px;   
}


.input-task{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* margin-top: 20px; */
}

.input-task input:not([type="date"]){
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 20px;
    /* margin-bottom: 20px; */
}
.input-task input[type="date"]{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 20px;
    /* margin-bottom: 20px; */
}

.input-task input:focus {
  outline: none; /* Removes the default outline */
  border: 1px solid var(--primary-color); 
  box-shadow: 0px 0px 18px var(--primary-color); /* Creates the blue glow effect */
}

.input-task button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.add-btn:hover{
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav-btn{
    width: 800px;
    /* margin-top: 2100px; */
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    /* padding: 15px 30px; */

    margin-top: 30px;
}

.btn{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cccccc8f;
    cursor: pointer;
    padding: 0px 10px;
    transition: background 0.2s ease;

}

.nav-btn .btn:hover{
    border-color: var(--primary-color);
    color:var(--secondary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.active{
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.delete-icon{
    color: red;
    /* font-size: 1.5rem; */
    cursor: pointer;
    margin-left: 10px;
}

.update-icon{
    color: rgb(0, 106, 255);
    /* font-size: 1.5rem; */
    cursor: pointer;
    margin: 0px 5px;
    margin-left: 10px;
}

.task-container{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    /* height: 300px; */
    height: 400px;
    align-items: center;
    justify-content: flex-start;
    width: 900px;
    gap: 10px;
    overflow-y: auto;

    
}

.task{
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.249);
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.checkbox{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 0px;
    margin-right: 15px;
    cursor: pointer;
}

.strike {
  text-decoration: line-through;
  color: gray; /* optional: make completed tasks look faded */
}

.no-todos {
  text-align: center;
  font-style: italic;
  color: gray;
  margin-top: 1rem;
}

.task span{
    flex: 1;
}
.footer {
  text-align: center;
  margin-top: 10px;
  color: #888;
  font-size: 0.9rem;
}


